<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/navbar.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a id="logo" href="">LOGO</a>
        <a id="logout" href="/logout">LOGOUT</a>
    </nav>
    <p id="text1">
        2023
    </p>
    <p id="text2">
        ALL ABOUT THE LATEST GAMES
    </p>
    <a href="/games" id="link">
        SEE GAMES
    </a>
</body>
</html>
