<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMES</title>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/wishList.css">
</head>
<body>
    <nav>
        <a id="logo" href="">LOGO</a>
        <a id="logout" href="/logout">LOGOUT</a>
    </nav>
    <div id="wishList">
        <% for(var i = 0 ; i < 10 ; i++){ %> 
        <div class="game">
            <img src="img/123.jpg" alt="">
            <div class="text">
                    <div class="title">LOLOLO</div>
                    <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus doloribus, eligendi explicabo repellat ducimus et nulla minima a error possimus magnam quod sequi, eum blanditiis quasi impedit incidunt veniam quidem!</div>
            </div>
            <div class="delete">
                X
            </div>
        </div>
       <% } %> 
    </div>
    <script>
        
    </script>
</body>
</html>